<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Enable color (Spring Boot) -->
    <conversionRule conversionWord="clr"
                    converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <!-- Console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%-5level) %clr(%-40.40logger{40}){cyan} - %msg%n</pattern>-->
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss}){faint} %clr(%-5level) %clr(%-40.40logger{40}){cyan} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>